
.button-animation {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #0D6EFD;
  transition: all 0.25s ease;
}
.button-animation:active {
  transform: scale(0.9);
}

