.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --bg-color: #333333;
  --text-color: rgb(232, 234, 237);
  --boder-list-color: white;
  --bg-content-color:#fff
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  position: relative;
}
[data-theme="dark"] {
  --bg-color: rgb(232, 234, 237);
  --text-color:#000;
  --boder-list-color: black;
}
html {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Common */
.mr-4 {
  margin-right: 4px;
}

a {
  color: #196de2;
  text-decoration: none;
}

a:hover {
  color: #f60;
}

ul,
li,
ol {
  list-style: none;
}

.e-column {
  display: flex;
  flex-wrap: wrap;
}

.column-md-1-4 {
  flex: 0 0 auto;
  width: 25%;
}

.column-md-1-5 {
  flex: 0 0 auto;
  width: 20%;
}

.column-md-1-2 {
  flex: 0 0 auto;
  width: 50%;
}

.column-md-3-5 {
  flex: 0 0 auto;
  width: 60%;
}

.column-md-3-4 {
  flex: 0 0 auto;
  width: 75%;
}



/* Color */
.dark-purple {
  background-color: #3A1078;
}

.light-purple {
  background-color: #4E31AA;
}

.dark-blue {
  background-color: #2F58CD;
}

.light-blue {
  background-color: #3795BD;
}

.light-red {
  background-color: #f73859;
}


#header{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* Logo */
.container {
  width: 100%;
}

#top-logo {
  width: 97px;
  height: 97px;
  margin: 3px 64px;
  background: url('../img/logo_UET.png') top center / cover no-repeat;
  background-size: contain;
  text-indent: -9999999px;
  border: 1px solid #fff;
  border-radius: 45px;
  background-color: #fff;
  display: block;
  float: left;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.btn-rad{
  border-radius: 46px;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  top: 35px;
  right: 460px;
  z-index: 1000;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.theme-switch input {
  display:none;
}
.slider {
  background-color: #999;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}
.slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}
input:checked + .slider {
  background-color: #eee;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.user-welcome {
  float: right;
  margin: 32px 32px;
  display: flex;
  align-items: center;
}

.user-welcome .btn {
  margin-right: 5px;
  color: #fff;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.user-welcome .btn:hover {
  color: #000;
  background-color: #2F58CD;
}

.user-welcome .btn-add-post:hover {
  color: #000;
  background-color: #eb0f34;
}



#nav, .subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a,
#nav li button {
  text-decoration: none;
  display: block;
  line-height: 46px;
  padding: 0px 24px;
}

.ti-menu{
  line-height: 100px;
  color: #fff;
}

#nav > li:hover > a,
#nav .subnav li:hover a,
#nav > li:hover > button,
#nav .subnav li:hover button {
  color: #000;
  background-color: #2F58CD;
  border-radius: 8px;
}



/* Filter */
#filter-top {
  float: right;
  margin-right: 72px;
}

#filter-top .submit {
 
  padding: 0px 24px;
  margin: 5px 0px;
  
}





/* Begin: Content */
.content{
  margin-top: 180px;
  margin-left: 30px;
  margin: 180px 30px 0px;
}

/* Left sidebar */
.menu-navigation {
  /* margin: 0; */
  font-weight: 500;
}

.menu-navigation .vertical-nav-header {
  color: #fff;
  height: 40px;
  padding: 5px 16px;
  font-size: 15px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 16px 16px 0 0;
  display: flex;
}

.menu-navigation .u-vertial {
  flex-direction: column;
  border: 2px solid #f73859;
  border-radius: 0 0 16px 16px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}

.menu-navigation .u-vertial li,
.menu-navigation .u-vertial li a {
  position: relative;
  display: block;
  align-items: center;
  color: var(--text-color);
}

.menu-navigation .u-vertial li a {
  padding: 16px 32px;
  
}

.menu-navigation .u-vertial li:hover a {
  color: #000;
}

.menu-navigation .u-vertial li:before {
  content: "";
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #f73859;
  transition: .25s;
  z-index: -1;
}

.menu-navigation .u-vertial li:last-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #f73859;
  border-radius: 0 0 12px 12px;
  transition: .25s;
  z-index: -1;
}

.menu-navigation .u-vertial li:hover:before,
.menu-navigation .u-vertial li:hover:last-child:before {
  width: 100%;
  left: 0;
  right: auto;
}

/* Main content */
.section {
  padding: 20px;
  background-color: #2F58CD;
  border: 1px solid var(--boder-list-color);
  border-radius: 20px;
  margin-left: 10px;
  width: 100%;
}

/* Title */
.section .section-header {
  margin-top: 0;
  margin-bottom: 15px;
}

.section .section-title {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

/* Sort */
.post-sort {
  margin-bottom: 10px;
  font-size: .95rem;
}

.post-sort a.active {
  color: #000000F2;
  background-color: #F8F9FA;
}

.post-sort a {
  display: inline-block;
  margin-left: 5px;
  margin-right: 0;
  text-decoration: none;
  color: #000000BF;
  background: #f1f1f1;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Listing */
.post-listing .post-item.vipnoibat {
  background-color: #fff9f3;
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  height: 250px;
}

.post-listing .post-item .post-place {
  border-bottom: 1px solid var(--boder-list-color);
  display: flex;
}

.post-listing .post-item .post-place:hover{
  box-shadow: 0 3px 8px var(--colorWeb-01);
  cursor: pointer;
}

.post-listing .post-item.vipnoibat .image {
  width: 33%;
  border-radius: 10px 0px 0px 10px;
  padding: 12px;
}

.post-listing .post-item .post-meta {
  padding: 10px 15px;
}

/* .post-listing .post-item .images-number {
  position: absolute;
  bottom: 8px;
  left: 5px;
  background: rgba(0,0,0,.5);
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: .9rem;
} */

.post-listing .post-item .post-title {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  display: block;
  white-space: normal;
  margin: 0 0 10px;
}

.post-listing .post-item .meta-row {
  margin-bottom: 10px;
}

.post-listing .post-item .post-price, 
.post-listing .post-item .post-acreage, 
.post-listing .post-item .post-location, 
.post-listing .post-item .post-time, 
.post-listing .post-item .post-summary { 
  color: var(--text-color);
  margin-right: 15px;
  line-height: 19px;
  float: left;
}
  
.post-listing .post-item .post-price {
  font-size: 1.2rem;
}

.post-listing .post-item .post-time {
  color: var(--text-color);
  margin-right: 0;
  line-height: 19px;
  font-size: .9rem;
  float: right;
}

.post-listing .post-item .post-summary {
  color: var(--text-color);
  margin: 10px 0 0;
}

.post-listing .post-item .post-author {
  color: var(--text-color);
  margin-right: 10px;
  align-items: center;
  display: inline-flex;
}

.post-listing .post-item .post-author img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 50%;
  object-fit: cover;
}

.post-listing .post-item .btn-quick-zalo {
  color: #2F58CD;
  margin-top: 5px;
  margin-left: 5px;
  padding: 4px 7px;
  border: 1px solid #2F58CD;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  float: right;
}

.post-listing .post-item .btn-quick-zalo:hover{
  background-color:#2F58CD;
  color: var(--text-color);
}

/* Begin: Footer */
.footer-shop-info {
  /* padding: 1.875rem; */
  padding: calc(1.3125rem + 0.75vw);
  background-color: #fff;
}

.footer-shop-info .info-title {
  color: #000;
  font-size: .875rem;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 1rem;
}

.footer-shop-info .info-list ul {
  margin: 0;
  padding: 0;
}

.footer-shop-info .info-list ul li {
  list-style-type: none;
  padding-bottom: 15px;
}

.footer-shop-info .info-list ul li a {
  text-decoration: none;
  color: #626262;
}

.footer-shop-info .info-list ul li a:hover {
  color: rgb(12, 12, 233);
}

/* Contact */
.footer-shop-info .column-contact {
  color: #626262;
}

.social-links a>i {
  margin-right: 10px;
  display: inline-block;
  width: 35px;
  height: 35px;
}

.social-links .social-fb i {
  background-image: url(/assets/img/icon/fb-icon.png);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.social-links .social-youtube{
  background-image: url(/assets/img/icon/youtube.png);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.social-links .social-zalo{
  background-image: url(/assets/img/icon/zalo.png);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.social-links .social-twitter{
  background-image: url(/assets/img/icon/twitter.webp);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Footer-last */
.footer-last {
  background-color: #000;
  padding: 35px 30px;
  color: #fff;
}



.offcanvas > img{
  margin-top: 30px;
  margin-left: 108px;
  width: 180px;
  height: 180px;
}

.offcanvas > p{
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  font: Roboto,sans-serif;
}

.offcanvas > button{
  margin-top: 20px;
  height: 56px;
  width: 300px;
  margin-left: 50px;
  border-radius: 32px;
}

.review{
  padding: 20px 50px 50px;
  text-align: center;
  padding-bottom: 100px;
  margin-bottom: 30px;
  background-color: var(--bg-content-color);
}

.customer-review{
  margin-bottom: 10px;
}
.customer{
  margin-bottom: 27px;
}

.span-place{
  text-align: center;
}

.care{
  text-align: center;
}